/* styling beyond component */
.beyond-content{
  background-color: black;
}

.beyond-image-text {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: black;
    padding-bottom: 100px;
    padding-top: 120px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
   
  }
  
  .beyond-content-image-text {
    display: flex;
    gap: 10%;
    width: 80%;
    max-height: 80vh;
    
    align-items: center;
  }
  
  .beyond-card-image {
    flex: 0 0 auto; /* Prevent the image from growing/shrinking */
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    margin-right: 20px; /* Adjust the spacing between the image and text as needed */
    
}
  .beyond-card-image>img{
    width: 413px;
    height: 500px;
    border-radius: 2rem;
    
  }
  .beyond-social-text {
    width: 50%;
    
}

h1{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}

/* button */
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 5px;
  width: 190px;
  transition: 0.3s;
  border: 2px solid black;
  border-radius: 30px;
  height: 30px;
  padding-left: 5px;
}

.button a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.button-text {
  color: rgb(0, 0, 0);
  transition: 1s;
  transform: translateX(0); /* this is the initial position where the text is before hovering */
}

.circle {
  background-color: black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../src/assets/icons/white-arrow.png');
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 0 22px;
  transform: translateX(0);
  transition: 1s;
}

/* hover effect on the button */
.button:hover {
  background-color: black;
}

.button:hover .button-text {
  color: rgb(255, 255, 255);
  transform: translateX(60px); 
  transition: 1s;
}

.button:hover .circle {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../src/assets/icons/right-btn-icon.png');
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 0 22px;
  transform: translateX(-150px);
  transition: 1s;
}
  