/* footer stylesheet */
.footer{
    background-color: black;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-inline: 0.5rem;
    padding-top: 3rem;
    max-width: 100%;
    color: #fff;
    padding: 1.5rem 5rem;
    max-width: 100%;
}
.section-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 2rem;
}

.headquarters>p{
width: 250px;
}

.footer-icons{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}

.social-icons{
    display: flex;
    gap: 40px;
}

hr{
    position: relative;
    top: 3rem;
}