.border{
    display: flex;
    justify-content: space-around;
}

.light-border{
    border-bottom: 1px solid #fff;
    margin: 0 4.5rem 1rem 4.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.navmenu{
    display: flex;
    gap: 20px;
}

.nav-item{
    list-style-type: none; 
}

.nav-item *{
    text-decoration: none;
    color: #fff;
}

.header-container {
    position: relative;
  }
   
  .navbars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Set a higher z-index to ensure it's on top */
  }
  
 
  

