/* styling the landing page */
body {
    margin: 0;
    padding: 0;
  }
  
.hero {
    position: relative; /* Make the container a positioning context for absolute positioning */
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1; /* Set the z-index to make sure it's behind the header */
}
  
  .Text {
    position: absolute;
    top: 35%; /* Position the element at the vertical  */
    left: 32%; /* Position the element at the horizontal  */
    transform: translate(-50%, -50%); /* Center the element perfectly */
    
  }
  
  .heading-text {
    color: #ffffff; /* Set the color of the text */
    font-size: 24px; /* Set the font size */
  }
  
  .heading-title {
    color: #ffffff; /* Set the color of the text */
    font-size: 48px; /* Set the font size */
    width: 50rem;
  }
  